@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
body {
	background: #000;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}
a {
	color: #292;
	text-decoration: none;
}
a:hover {
	color: #2f2;
}

.dialogue-area {
	margin: 10% auto;
	padding: 10px 40px;
}

.dialogue-area > div {
	margin: 0 0 10px;
}
.dialogue-area a {
	display: block;
	clear: both;
}
.dialogue-area a:after {
	content: "";
}